
﻿<div class="sidebar">
    <div class="logo">
        <img id="logo-img" src="~/img/logo-light.png" alt="Logo" />
    </div>

    <ul class="sidebar-menu">
        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
            <a asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-house sidebar-icon"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Tickets" ? "active" : "")">
            <a asp-controller="Ticket" asp-action="Tickets">
                <i class="fa-solid fa-ticket-alt sidebar-icon"></i>
                <span>Tickets</span>
            </a>
        </li>
        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Article" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
            <a asp-controller="Article" asp-action="Index">
                <i class="fa-solid fa-book sidebar-icon"></i>
                <span>Articles</span>
            </a>
        </li>
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Agents" ? "active" : "")">
            <a asp-controller="Account" asp-action="Agents">
                <i class="fa-solid fa-user-tie sidebar-icon"></i> 
                <span>Agents</span>
            </a>
        </li>
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Users" ? "active" : "")">
            <a asp-controller="Account" asp-action="Users">
                <i class="fa-solid fa-user sidebar-icon"></i> 
                <span>Users</span>
            </a>
        </li>
        
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Profile" && 
            Context.Request.Query["id"].ToString() == User.Claims.FirstOrDefault(c => c.Type == "UserId")?.Value ? "active" : "")">
            <a asp-controller="Account" asp-action="Profile" asp-route-id="@User.Claims.FirstOrDefault(c => c.Type == "UserId")?.Value">
                <i class="fa-solid fa-user sidebar-icon"></i>
                <span>Profile</span>
            </a>
        </li>
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Settings" ? "active" : "")">
            <a asp-controller="Account" asp-action="Settings">
                <i class="fa-solid fa-gear sidebar-icon"></i> 
                <span>Settings</span>
            </a>
        </li>
        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Account" && ViewContext.RouteData.Values["Action"].ToString() == "AboutUs" ? "active" : "")">
            <a asp-controller="Account" asp-action="AboutUs">
                <i class="fa-solid fa-list sidebar-icon"></i>
                <span>About Us</span>
            </a>
        </li>

    </ul>
    <div class="signout" >
        <a asp-action="SignOutUser" asp-controller="Account" method="post" onclick="document.getElementById('logoutForm').submit(); return false;">
            <i class="fas fa-sign-out-alt sidebar-icon"></i>
            <span>Logout</span>
        </a>
    </div>
    
</div>    
<script>
    document.getElementById("logoutButton").addEventListener("click", function (event) {
        event.preventDefault(); // Prevent the default action
        // Hide the sidebar
        document.querySelector(".sidebar").style.display = "none";

        // Redirect to the login page after a brief delay (optional)
        setTimeout(function () {
            window.location.href = "/Account/Login"; // Adjust the URL as needed
            document.getElementById("logoutForm").submit();
        }, 200); // Delay in milliseconds
    });
</script>
