<link rel="stylesheet" href="~/css/lightmode.css" />
<div class="sidebar">
    <div class="logo">
        <img id="logo-img" src="~/img/logo-light.png" alt="Logo" />
    </div>

    <ul class="sidebar-menu">
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
            <a asp-controller="Admin" asp-action="Index">
                <i class="fa-solid fa-house sidebar-icon"></i> <!-- Added class here -->
                <span>Dashboard</span>
            </a>
        </li>
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Users" ? "active" : "")">
            <a asp-controller="Admin" asp-action="Users">
                <i class="fa-solid fa-user sidebar-icon"></i> <!-- Added class here -->
                <span>Users</span>
            </a>
        </li>
        
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Settings" ? "active" : "")">
            <a asp-controller="Admin" asp-action="Settings">
                <i class="fa-solid fa-gear sidebar-icon"></i> <!-- Added class here -->
                <span>Settings</span>
            </a>
        </li>
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">
            <a asp-controller="Admin" asp-action="About">
                <i class="fa-solid fa-list sidebar-icon"></i> <!-- Added class here -->
                <span>About Us</span>
            </a>
        </li>
    </ul>

    <div class="user-details">
        <div class="signout">
            <a id="logoutButton" asp-action="SignOutAdmin" asp-controller="Account">
                <i class="fas fa-sign-out-alt sidebar-icon"></i> <!-- Added class here -->
                <span>Logout @HttpContextAccessor.HttpContext.Session.GetString("UserName")</span>
            </a>
        </div>
    </div>
    
</div>
<script>
    document.getElementById("logoutButton").addEventListener("click", function (event) {
        event.preventDefault(); // Prevent the default action
        // Hide the sidebar
        document.querySelector(".sidebar").style.display = "none";

        // Redirect to the login page after a brief delay (optional)
        setTimeout(function () {
            window.location.href = "/Account/Login"; // Adjust the URL as needed
        }, 200); // Delay in milliseconds
    });
</script>
